div#qbox{
	border: 5px solid crimson;
	max-width:506px;
}

.question{
    
	border: 4px solid crimson;
	max-width:500px;
	background-color:bisque;
	position:relative;
	left:20px;
	color:black;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	-khtml-border-radius:200px;
	  border-radius:15px;
	  border: 5px solid crimson;
	font-family:arial;
}

#q_text{
	position:relative;
	left:40px;
}

#post_q{
	font-family:arial;
	font-size:20px;
	position:relative;
	left:20px;
}

#post_q_B{
	position:relative;
	left:460px;
  	font-family:"arial";
  	font-size:1.3em;
		-moz-border-radius:200px;
		-webkit-border-radius:200px;
		-khtml-border-radius:200px;
	  	border-radius:200px;
	  	border: 2.5px solid black
	
}

#post_q_B:hover {
    text-decoration: none;
    border-color: red;
}
#qbox{
	position:relative;
	left:20px;
}


